.boton.uno:hover::after{
    top: 0;
}

.bebe:hover{
    box-shadow: 5px 5px 10px darkmagenta, -5px -5px 10px blue;
}

.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.5s;
}

.descripcion-pijamas:hover{
    box-shadow: 5px 5px 10px darkmagenta, -5px -5px 10px blue;    
}

.fa-whatsapp:hover{
    color: darkgreen;
}

.fa-facebook:hover{
    color: darkblue;
}

.fa-facebook-messenger:hover{
    color: darkblue;
}

.anmpijam:hover{
    animation: bounce;
    animation-duration: 1s;
}

.color-nombre-menu:hover{
    color: darkblue;
    animation: bounceIn;
    animation-duration: 1s;
}

.btn-admin:hover {
    background-color: darkmagenta;
}

.btn-eliminar-products:hover {
    background: linear-gradient(to right, #ee4266, #ff6b6b);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }