*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cont-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  height: 120px;
}

.cont-add {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.btn-add {
  width: 50%;
  color: white;
  background-color: black;
  border-radius: 10px;
  grid-row: 1;
  grid-column: 2;
  justify-content: end;
  align-self: start;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  animation: spin 1s linear infinite,
             jump 1s ease-in-out infinite alternate,
             color-change 3s ease-in-out infinite;
  background-color: darkmagenta;
}

.circle:nth-child(2) {
  animation-delay: 0.2s, 0.35s, 0s;
}

.circle:nth-child(3) {
  animation-delay: 0.4s, 0.45s, 0s;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes color-change {
  0% {
    background-color: darkmagenta;
  }
  33% {
    background-color: darkblue;
  }
  66% {
    background-color: blue;
  }
  100% {
    background-color: darkmagenta;
  }
}

.cont-204 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}

.cont-204 span {
  color: darkblue;
}